<app-admin-panel>
    <h1>Ver Usuário</h1>
    
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-12 col-lg-6 mb-2">
                    <p>
                        <small class="fw-bold">Nome de usuário:</small><br>
                        {{ user.name }}
                    </p>
                </div>
                <div class="col-12 col-lg-6 mb-2">
                    <p>
                        <small class="fw-bold">Endereço de e-mail:</small><br>
                        {{ user.email }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-admin-panel>